@font-face {
  font-family: 'ShellLight';
  src: url('./assets/fonts/ShellLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ShellBook';
  src: url('./assets/fonts/ShellBook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ShellMedium';
  src: url('./assets/fonts/ShellMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ShellBold';
  src: url('./assets/fonts/ShellBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ShellHeavy';
  src: url('./assets/fonts/ShellHeavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: 'ShellBook', 'Arial', 'Helvetica', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}
